---
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import MobileMenu from '@/components/ui/mobile-menu'
import ThemeToggle from '@/components/ThemeToggle.astro'
---

<header class="sticky top-0 z-[99] w-full pt-4" style="--header-height: 4.5rem;" transition:persist>
  <Container>
    <div class="flex w-full flex-wrap items-center justify-between gap-4 py-4 text-[0.875rem] font-medium">
      <Link
        href="/"
        class="flex flex-shrink-0 items-center gap-2 rounded-[0.4em] bg-accent px-2 py-1 font-supply text-background"
      >
        Decent ✦ Paradox
      </Link>
      <div class="flex items-center gap-2 md:gap-4">
        <ThemeToggle transition:persist />
        <MobileMenu client:load transition:persist />
      </div>
    </div>
  </Container>
</header>
