---
import MarqueeSection from '@/components/MarqueeSection.tsx'
import { TextAnimate } from '@/components/ui/text-animate.tsx'
import type { Children } from 'react'
---

<main
  class="flex min-h-[calc(100vh-96px)] flex-col items-center justify-between md:items-start py-4"
>
  <div class="mt-8 w-full">
    <!-- <MarqueeSection /> -->
    <div
class="
  lg:size-full hidden md:block
  opacity-20 
  transition-all duration-300
"
>
<!-- Example: SVG, Image, or Animation -->
<img
  src="/static/images/engine.svg"
  alt=""
  class="object-contain absolute right-2 bottom-2 block dark:hidden"
  loading="lazy"
  draggable="false"
/>
<img
  src="/static/images/engineDark.svg"
  alt=""
  class="object-contain absolute right-2 bottom-2 hidden dark:block"
  loading="lazy"
  draggable="false"
/>
</div>

    <div class="flex h-auto w-full md:w-[85%] flex-col pt-12 z-10">
      <h1 class="font-instrument font-normal leading-tight text-[56px] md:text-[72px] lg:text-[92px] xl:text-[128px] z-10 text-accent">Sasank Reddy</h1>
      <div class="gap-6 sm:items-center space-y-6">
        <h2 class="font-sans font-normal leading-tight text-[14px] md:text-[18px] z-10 text-foreground/75">Developer ✦ Designer ✦ CTF Player</h2>
        <div class="font-sans text-base font-normal max-w-[650px] leading-tight text-foreground z-10 space-y-2 flex gap-2 flex-col">
          <p class='text-foreground/75'>
            A guy building tools and experiences at the cross-section of technology, lifestyle, and design.
          </p>
          <TextAnimate className='text-prose' animation="blurInUp" by="word" once client:load value=`Hey, I’m Sasank Reddy. I enjoy designing, coding, and bringing ideas to life through little projects. I’m just a curious student who loves learning, tinkering with new concepts, and picking up skills as I go. I believe every small thing I build teaches me something new.` />
        </div>
      </div>
    </div>

      
  </div>
  <!-- additional content comes here -->
  <div class="relative w-full">
    <div class="flex items-start justify-between">
      <div class="flex flex-col gap-6">
        <div
          class="inline-flex w-fit items-center gap-1 rounded-sm bg-accent px-1.5 py-1.5"
        >
          <span class="font-supply text-xs font-normal text-background"
            >Crafting ✦ Magic</span
          >
        </div>
        <div class="max-w-[427px]">
          <p class="font-sans text-base font-normal leading-normal">
            <span class="text-foreground"
              >I enjoy working with computers, whether it's making websites, building simple apps, designing games, and experimenting with whatever I find interesting.</span
            >
            <span class="text-foreground/75">
              Also I Vibecode sometimes</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
