---
import '@/styles/global.css'
import '@/styles/typography.css'

import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
import { SITE } from '@/consts'
import { cn } from '@/lib/utils'

interface Props {
  class?: string
  title?: string
  description?: string
  image?: string
}

const { class: className, title, description, image} = Astro.props

---

<!doctype html>
<html class="bg-background text-foreground">
  <Head>
    <slot name="head" />
  </Head>
  <body>
    <div class="box-border flex min-h-screen flex-col bg-background font-sans antialiased dark:bg-background">
      <Header />
      <slot name="subposts-navigation" />
      <slot name="table-of-contents" />
      <main class="grow">
        <div class={cn('mx-auto flex grow flex-col gap-y-6 px-8', className)}>
          <slot />
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>
